*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --color-black: #131921;
  --color-border:#3b4149;
  --color-btn:#febd69;
  --color-gray: #232f3e;
  --color-h4: #bf4800;
  --color-background: #f5f5f7;
  --color-border-bottom:#ededed;
  --color-blog-date: #777777;
}

.section-heading-title{
  font-size: 26px;
  line-height: 34px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.card-wrapper{
  background: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
body{
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-10{
  gap: 10px;
}

.gap-12{
  gap: 12.7px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

.button{
  background: var(--color-gray);
  color: white;
  padding: 13px 33px;
  font-size: 14px;
  border-radius: 50px;
}

.button:hover{
  background: var(--color-btn);
  color: var(--color-black);
}
/* header */

.header-top-strip{
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-black);
}

.header-upper{
  background: var(--color-black);
}
.header-bottom{
  background: var(--color-gray);
}

.header-upper .input-group-text{
  background: var(--color-btn);
}

.header-upper .header-upper-links img{
  width: 30px;
  height: 30px;
}

.header-bottom .menu-links a{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: #131921;
  width: 100%;
  transform: translate3d(0, 57px, 0) !important;
}

.header-bottom .dropdown-item{
  padding: 5px 20px;
  font-weight: 300;
}

.header-bottom .dropdown-item:hover{
  background: var(--color-gray);
  color: #febd69 !important;
}
/* header end */

/* footer */
footer{
  background: var(--color-gray);
}
footer:not(:first-child){
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text{
  background-color: var(--color-gray);
  color: white;
  padding: 8px 17px;
}
/* footer end */

/* Home */
.main-banner-content{
  top: 15%;
  left: 5%;
}

.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-h4);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p{
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-black);
}

.small-banner-content{
  top: 15%;
  left: 8%;
}

.small-banner-content h4{
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-h4);
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5{
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p{
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-black);
}

.small-banner{
  width: 49%;
}

/* home wrapper 2 */
.home-wrapper-2{
  background: var(--color-background);

}

/* categories */
.categories{
  background: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div{
  width: 25%;
  padding-left: 20px;
}

.categories > div > div{
  width: 55%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4){
  border-bottom: 1px solid var(--color-border-bottom);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7){
  border-right: 1px solid var(--color-border-bottom);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3){
  border-right: 1px solid var(--color-border-bottom);
}

/* blog */
.blog-card{
  background: white;
  border-radius: 10px;

}

.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content{
  padding: 15px;
}

.blog-content .date{
  font-size: 13px;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: #777777;
  padding: 0;
}

.blog-content h5{
  font-size: 18px;
  line-height: 28px;
  color: var(--color-black);
}

.blog-content p.desc{
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blog-date);
  word-break: break-all;
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}


/* product card */
.product-card{
  padding: 15px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.product-card:hover .action-bar{
  right: 10px;
}

.product-card .product-image img{
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.product-card .product-image img:last-child{
  display: none;
}

.product-card .product-image:hover img:first-child{
  display: none;
}

.product-card .product-image:hover img:last-child{
  display: block;
}

.product-card .product-details h6{
  color: #bf4800;
  font-size: 13px;
}

.product-card .product-details h5{
  color: #777777;
  font-size: 15px;
}

.product-card .product-details p.price{
  color: #232f3e;
  font-size: 16px;
}

.action-bar{
  top: 15%;
  right: -20px;
  transition: 0.5s;
}

.wishlist-icon{
  right: 10px;
}

/* special product */
.special-
/*  */